<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="icon" href="/img/site/favicon.png" type="image/x-icon" >
	<link rel="shortcut icon" href="/img/site/favicon.png" type="image/x-icon" >
    <meta http-equiv="Content-Language" content="EN">
    <meta name="copyright" content="Francesco La Ruffa">
    <meta charset="UTF-8" />
    <title>Rubrica | Homepage</title>
    <meta name="description" content="Homepage">
	<meta name="keywords" content="Home">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link id="theme-stylesheet-main" rel="stylesheet" type="text/css" href="/css/style-main.css" />
    <link id="theme-stylesheet-color" rel="stylesheet" type="text/css" href="/css/style-light.css" />
    <script src="/js/main.js" type="text/javascript" defer></script>
    <script src="/js/theme-toggle.js" type="text/javascript" defer></script>
    <script src="/js/transition.js" type="text/javascript" defer></script>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main class="animatable slide-in-bottom">
        <div sec:authorize="isAuthenticated()" class="welcome-message">
            <p>Welcome back to <i>rubrica telefonica</i>, <span th:text="${user.fname}">User</span>.</p>
            <h6>It's amazing how much you’ve missed...</h6>
        </div>
        <div sec:authorize="!isAuthenticated()" class="welcome-message">
            <p>Welcome to <i>rubrica telefonica</i>.</p>
            <h6>Please, login or sign up.</h6>
        </div>
    </main>
</body>
</html>
